@font-face {
	font-family: 'OpenSansRegular';
	src: url('../font/OpenSansRegular/OpenSansRegular.eot');
	src: local('../font/OpenSansRegular'), url('../font/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('../font/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
}
*{
    margin: 0;
    font-family: 'OpenSansRegular' ;
    
}
body{
    background-color: rgb(226, 237, 247);
    width: 100%;
}

nav a{
    text-decoration: none;
    padding: 20px;
    color: black;
    line-height: 50px;
}
#user{
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 20px;
}

#user div{
    display: inline;
    flex-direction: row;
    padding: 10px;
    
}

#user div:last-child{
    line-height: 30px; 
}

#user div i:first-child{
    font-size: 23px;
    padding-right: 5px;
}

#c{
    background-color: rgba(198, 222, 233, 0.486);
    position: absolute;
    display: block;
    list-style: none;
    right: 40px;
    height: 0px;
    overflow: hidden;
    transition-duration: 500ms;
}

#t:hover #c{
    height: 60px;
}



.carosel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto 20px;
    padding-top:80px; 

    
}
.text{
    padding:30px 0 0  0;
    line-height: 50px;
    
}
.picture img{
    
    margin-left: -200px;
    overflow: hidden;
    padding-top: 10px;
    width:100%;
    height: auto;
    min-height: 230px;
    transition: 1s;
    max-height: 450px;
}

.container{
    background-color: white;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 20px;
}
.mainC{
 border-bottom: solid 1px black;
 width: 90%;
 margin: auto;
 padding-bottom: 10px;
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.categories a{
   text-decoration: none; 
   padding: 0 20px 20px 20px;
   color: black;
   
}

.sub{
    text-align: end;
    padding-right: 20px;
}

.sub span{
    
    padding-left: 20px;
}

.sub i{
    font-size: 12px;
    padding-left: 5px;
}
.products{
    margin: 20px 20px 0 20px;
   
}
.products li{
    background-color: rgb(226, 237, 247);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.products ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#pro{
    display: grid;
    grid-template-rows: repeat(auto-fit,3fr);
    grid-row-gap: 15px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(226, 237, 247);
    
}
.products ul img{
    height: auto;
    width: 100%;
}
.addto{
    width: 100%;
    background: none;
    background-color: rgb(226, 237, 247); 
    outline: none;
    border: none;
    margin-top: 0;

}
.addto:hover{
    color: red;
    cursor: pointer;
}
#cartTable{
    margin-top: 50px;
    width:70%;
}
#hes{
    background-color: rgb(212, 103, 103);
    border-radius: 50%;
    border: 0.5px white solid;
    height: 10px;
    width: 10px;
    font-size: 12px;
    padding:2px;
    margin-left:-12px;
    position: absolute;
    color:white;
}
.cart{
    margin:100px auto 20px;
}

.wrapper{
    width:100%;
    margin: 0;
    background-color: rgb(94, 168, 230);
    display: block;
    grid-template-rows: repeat(auto-fit,3fr);
    align-items: center;
    justify-content: center;
}

.social ul{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 10px;
}
.social ul li{
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-right: 2px;
    

}
.contact{
    text-align: center;
    font-size: 15px;
}
.contact span{
    margin-right: 20px;
}
.reg{
    text-align: center;
    margin-top: 20px;
}

footer{
    margin: 0;
    padding: 0;
    
}



@media only screen and (max-width: 600px) {
    footer{
        display: none;
    }
    nav,#user{
        display: none; 
    }
    .navbar{
        display: grid;
        width: 100%;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        
    }
    #logo img{
        height: 60px;
        width: 70px;
    }

    .bottomNav{
        display: grid;
        font-size: 14px;
        position: fixed;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        bottom: 0;
        left:0;
        width: 100%;
        justify-content: center;
        text-align: center;
        background-color: white;
        padding: 10px;

    }
    .bottomNav a{
        text-decoration: none;
        color: black;
    }
    .bottomNav a:hover{
        cursor: pointer;
    }
    .carosel{
        display: grid;
        grid-template-columns: auto;
        width: 90%;
        margin:auto;
        padding-bottom: 20px;
    }
    .text{
        padding:30px 0 0  0;
        line-height: 50px;
        text-align: center;
    }
    #tongle{
        display: block;
    }
    .categories a{
        display: block;
        
        
    }
    .categories{
        height: 20px;
        overflow-y: hidden;
        transition-duration: 500ms;
    }
    
    .products ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .text span:first-child{
        font-size: 20px;
        color: rgb(110, 110, 82);
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 20px;
        line-height: 2em;
        
    }
    #hesab{
        background-color: rgb(212, 103, 103);
        border-radius: 50%;
        border: 0.5px white solid;
        height: 10px;
        width: 10px;
        font-size: 10px;
        padding:2px;
        margin-left:-6px;
        position: absolute;
        color:white;
    }
   
}


@media only screen and (min-width: 600px) {
    .navbar{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    nav a{
        
        padding: 10px;
       
    }

    #logo img{
        height: 60px;
        width: 70px;
        margin-left: 20px;
    }
    .bottomNav{
        display: none;
    }
    #tongle{
        display: block;
    }
    .categories a{
        display: block; 
    }
    .categories{
        height: 20px;
        overflow-y: hidden;
        transition-duration: 500ms;
    }
    .text span:first-child{
        font-size: 30px;
        color: rgb(110, 110, 82);
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 25px;
        line-height: 2em;
        
    }
    
  
    
}
@media only screen and (min-width: 768px) {
    .navbar{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top: 0;
    
    }
    nav a{
        text-decoration: none;
        padding: 20px;
        color: black;
        line-height: 50px;
    }

    #logo img{
        height: 60px;
        width: 70px;
        margin-left: 50px;
    }
    #tongle{
        display: none;
    }
    .categories a{
        display: inline;
    }
    .text span:first-child{
        font-size: 30px;
        color: rgb(110, 110, 82);
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 30px;
        line-height: 2em;
        
    }
    
   
}

@media only screen and (min-width: 992px) {
    .navbar{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top:0;
    }
    nav a{
        text-decoration: none;
        padding: 20px;
        color: black;
        line-height: 50px;
    }

    #logo img{
        height: 80px;
        width: 70px;
        margin-left: 50px;
    }
    #tongle{
        display: none;
    }
    .categories a{
        display: inline;
    }
    .text span:first-child{
        font-size: 30px;
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 30px;
        line-height: 2em;
        
    }
    
   
}

@media only screen and (min-width: 1200px) {
    .navbar{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top: 0;
    }
    nav a{
        text-decoration: none;
        padding: 20px;
        color: black;
        line-height: 50px;
    }

    #logo img{
        height: 60px;
        width: 70px;
        margin-left: 50px;
    }
    #tongle{
        display: none;
    }
    .categories a{
        display: inline;
    }
    .text span:first-child{
        font-size: 30px;
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 30px;
        line-height: 2em;
        
    }
    
    
}
