@font-face {
	font-family: 'OpenSansRegular';
	src: url('../font/OpenSansRegular/OpenSansRegular.eot');
	src: local('../font/OpenSansRegular'), url('../font/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('../font/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
}

*{
    margin: 0;
    line-height: 1.8em;
    font-family: 'OpenSansRegular' ;
}

body{
    background-color: rgb(149, 173, 194);
}

#details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    overflow-x: hidden;
    
}
.Det{
    display: flex;
    flex-direction: column;
}

.Det{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(158, 201, 199);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container{
    width: 70%;
    margin: auto;
}

#submit{
    position: relative;
    text-decoration: none;
    color:black;
    margin-top: 30px;
    left:40%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px black solid;
    transition-duration: 1s;
}

#submit:hover{
    background-color: red;

}

@media only screen and (max-width: 600px) {
    #details{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 15px;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 600px) {
    #details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 15px;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 768px) {
    #details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 15px;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 992px) {
    #details{
        display: grid;
        grid-template-columns: repeat(auto-fit,3,1fr);
        grid-row-gap: 20px;
        grid-column-gap: 15px;
        overflow-x: hidden;
        width:100%;
    }
}