*{
    line-height: 1.8em;
    margin: 0;
}
.container{
    width: 60%;
    margin: 10% auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;

}
.heading{
    background-color: darkgoldenrod;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
form{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.entry{
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 25px;
    align-items: center;
}

.entry span , .entry input{
    padding-left: 10px;
    border-style: none;
    height: 40px;
    background: none;
     
}

.entry input:focus{
    outline: none;
}

#submit{
    background-color: darkgoldenrod;
    border-radius: 25px;
    border: none;
    height: 40px;
    
}

.signup{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.signup a{
    color: blue;
}

.signup a:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .container{
        width:90%;
    }
 }