@font-face {
	font-family: 'OpenSansRegular';
	src: url('../font/OpenSansRegular/OpenSansRegular.eot');
	src: local('../font/OpenSansRegular'), url('../font/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('../font/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
}
*{
    margin: 0;
    font-family: 'OpenSansRegular' ;
    
}
body{
    background-color: rgb(226, 237, 247);
    width: 100%;
}

nav a{
    text-decoration: none;
    padding: 20px;
    color: black;
    line-height: 50px;
}
#user{
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 20px;
}

#user div{
    display: inline;
    flex-direction: row;
    padding: 10px;
    
}

#user div:last-child{
    line-height: 30px; 
}

#user div i:first-child{
    font-size: 23px;
    padding-right: 5px;
}

#c{
    background-color: rgba(198, 222, 233, 0.486);
    position: absolute;
    display: block;
    list-style: none;
    right: 40px;
    height: 0px;
    overflow: hidden;
    transition-duration: 500ms;
}

#t:hover #c{
    height: 60px;
}

.addto{
    width: 100%;
    background: none;
    background-color: rgb(226, 237, 247); 
    outline: none;
    border: none;
    margin-top: 0;

}
.addto:hover{
    color: red;
    cursor: pointer;
}

#hes{
    background-color: rgb(212, 103, 103);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    font-size: 12px;
    padding:2px;
    margin-left:-12px;
    position: absolute;
    color:white;
    border: 0.5px white solid;
}
.container{
    margin:100px auto 20px;
    width: 80%;
}

.prod{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prod img{
    width: 100%;
}
.detail{
    display: inline-block;
}

.image{
    max-height: 400px;
    min-height: 300px;
    width: auto;
    background-color: white;
}


@media only screen and (max-width: 600px) {

    .prod{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container{
        margin: 20px auto 20px;
    }

    nav,#user{
        display: none; 
    }
    .navbar{
        display: grid;
        width: 100%;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        
    }
    #logo img{
        height: 60px;
        width: 70px;
    }

    .bottomNav{
        display: grid;
        font-size: 14px;
        position: fixed;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        bottom: 0;
        left:0;
        width: 100%;
        justify-content: center;
        text-align: center;
        background-color: white;
        padding: 10px;

    }
    .bottomNav a{
        text-decoration: none;
        color: black;
    }
    .bottomNav a:hover{
        cursor: pointer;
    }
    
    .text span:first-child{
        font-size: 20px;
        color: rgb(110, 110, 82);
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 20px;
        line-height: 2em;
        
    }
    #hesab{
        background-color: rgb(212, 103, 103);
        border-radius: 50%;
        border: 0.5px white solid;
        height: 10px;
        width: 10px;
        font-size: 10px;
        padding:2px;
        margin-left:-6px;
        position: absolute;
        color:white;
    }
   
}


@media only screen and (min-width: 600px) {
    .detail{
        padding-left: 40px;
        line-height: 50px;
    }
    .prod{
        display: grid;
        grid-template-columns: 1fr;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    nav a{
        
        padding: 10px;
       
    }

    #logo img{
        height: 60px;
        width: 70px;
        margin-left: 20px;
    }
    .bottomNav{
        display: none;
    }
    #tongle{
        display: block;
    }
    
    .text span:first-child{
        font-size: 30px;
        color: rgb(110, 110, 82);
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 25px;
        line-height: 2em;
        
    }
    
  
    
}
@media only screen and (min-width: 768px) {
    .prod{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .detail{
        padding-left: 40px;
        line-height: 50px;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top: 0;
    
    }
    nav a{
        text-decoration: none;
        padding: 20px;
        color: black;
        line-height: 50px;
    }

    #logo img{
        height: 60px;
        width: 70px;
        margin-left: 50px;
    }
    #tongle{
        display: none;
    }
   
    .text span:first-child{
        font-size: 30px;
        color: rgb(110, 110, 82);
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 30px;
        line-height: 2em;
        
    }
    
   
}

@media only screen and (min-width: 992px) {
    .detail{
        padding-left: 40px;
        line-height: 50px;
    }
    .prod{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .navbar{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top:0;
    }
    nav a{
        text-decoration: none;
        padding: 20px;
        color: black;
        line-height: 50px;
    }

    #logo img{
        height: 80px;
        width: 70px;
        margin-left: 50px;
    }
    #tongle{
        display: none;
    }

    .text span:first-child{
        font-size: 30px;
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 30px;
        line-height: 2em;
        
    }
    
   
}

@media only screen and (min-width: 1200px) {
    .detail{
        padding-left: 40px;
        line-height: 50px;
    }
    .prod{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .navbar{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: white;
        top: 0;
    }
    nav a{
        text-decoration: none;
        padding: 20px;
        color: black;
        line-height: 50px;
    }

    #logo img{
        height: 60px;
        width: 70px;
        margin-left: 50px;
    }
    #tongle{
        display: none;
    }
   
    .text span:first-child{
        font-size: 30px;
    }
    .text span:last-child{
        margin-top: 20px;
        font-size: 30px;
        line-height: 2em;
        
    }
    
    
}
